<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>algo.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>allocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>balance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>cppbacktester.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>data.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>engine.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>etfalgo.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>gemalgo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90DC04BE1CC6509C00970BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90DE1B411CCCF33300850EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90DE1B661CCF841300850EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90EABE6F1CBA9FD600F5316C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90EABEA21CBE670D00F5316C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90EABEBD1CBE68A100F5316C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90EABF0C1CC2820200F5316C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90FC3E221CB6781B00BCC3AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
